body{
    background-color: #B7C9E2;
}

.heading{
    display: flex;
    justify-content: center;
}


.image{
    height: 250px;
    width:350px;
}

.review-container{
    display: flex;
    flex-direction: column;  
    align-items: center;
    background-color: white;
    width: 600px;
    margin-left: 35%;
    padding: 20px;
}
.Employee-name{
    margin-left: 50px;

}
.role{
    color: #a8ccd8;
   margin-left:26px
   
}
.about{
    text-align: justify;
    color: 	#003366;
}

.btn{
    background-color:  	#003366;
    color: white;
    border-style: none;
    padding: 10px;
}
.btn:hover{
    background-color: black;
    color: white;
}